@model NtqBaiKiemTraGiuaKi.Models.ntqKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ntqKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NtqTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NtqTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NtqTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NtqTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NtqMaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
