@model IEnumerable<Quoc24061.Models.MonHoc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("NtqCreate New", "NtqCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sotiet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sotiet)
        </td>
        <td>
            @Html.ActionLink("NtqEdit", "NtqEdit", new { id=item.MaMH.Trim() }) |
            @Html.ActionLink("NtqDetails", "NtqDetails", new { id=item.MaMH.Trim() }) |
            @Html.ActionLink("NtqDelete", "NtqDelete", new { id=item.MaMH.Trim() })
        </td>
    </tr>
}

</table>
