@model IEnumerable<NtqBaiKiemTraGiuaKi.Models.NtqKhoa>

@{
    ViewBag.Title = "NtqIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ntq: Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NtqTenKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtqTrangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NtqTenKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtqTrangThai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NtqMaKhoa.Trim() }) |
            @Html.ActionLink("Details", "Details", new { id=item.NtqMaKhoa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NtqMaKhoa })
        </td>
    </tr>
}

</table>
