@model IEnumerable<Quoc1006.Models.NtqCategory>

@{
    ViewBag.Title = "NtqIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NtqIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NtqCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NtqCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NtqCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NtqCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NtqCategoryId })
        </td>
    </tr>
}

</table>
